<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Language" content="en" />
		
		<title>Internet of Broken Things</title>

		<link href="css/main.min.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="img/favicon.png" />
	</head>
	<body>
		<div class="container">
			<div class="row" style="
									margin-top: 300px;
									">
				<div class="col-md-12" style="
											  text-align: center;
											  ">
					<h1>Hi Josep! Your washing machine has broken down. What do you want to do?</h1>
				</div>
			</div>
			<div id="action-buttons" class="row" style="
														margin-top: 150px;
														">
				<div class="col-md-offset-1 col-md-3">
					<button type="button" class="btn btn-default" style="
																										   width: 100%;
																										   font-size: 26px;
																										   ">Learn how to fix it yourself</button>
				</div>
				<div id="fix-button" class="col-md-3">
					<button type="button" class="btn btn-default" style="
																		 width: 100%;
																		 font-size: 26px;
																		 ">Find a Fixer</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-default" style="
																		 width: 100%;
																		 font-size: 26px;
																		 ">Give it away</button></div>
				<div class="col-md-3" style="
											 margin-top: 25px;
											 font-size: 16px;
											 color: blue;
											 ">
					<button type="button" class="btn btn-default" style="
																		 width: 100%;
																		 font-size: 16px;
																		 border-color: transparent;
																		 text-decoration: underline;
																		 color: blue;
																		 ">Not now</button></div>
			</div>

			<div id="progress-bar" class="row" style="margin-top: 150px; display: none;">
				<div class="col-md-offset-12" style="text-align: center">
					<h2>Waiting for answers...</h2>
				</div>
			</div>			
			
			<div id="fixers-list" class="row" style="margin-top: 150px;">
				<div class="col-md-offset-6 col-md-2">
					<ul class="list-group">
					</ul>
				</div>
			</div>

		</div>
		<script src="js/lib/jquery-1.10.2.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/async.js"></script>		

	</body>
</html>
